
.navbar {
    background-color: rgb(132, 0, 255);
}

.quem-somos{
    background-color: rgba(119, 0, 255, 0.74);
}

.margin{
    padding-bottom: 50px;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.PARCEIROS{
    background-color: blue;
}


.bg-footer{
    background-color: aqua;
}